<head>
      <title>Leszek Pawlak</title>
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
      <div id="root"></div>

      <footer>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
          <script src="http://threejs.org/examples/js/renderers/Projector.js"></script>
          <script src="http://threejs.org/examples/js/renderers/CanvasRenderer.js"></script>
      </footer>
</body>
